@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jacquarda+Bastarda+9&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Color+Emoji&family=Pacifico&family=Rampart+One&family=Rubik+Mono+One&family=Shadows+Into+Light&display=swap');

body{
    background-color: rgb(53, 50, 50);
    background-image: url("./media/images/geoBackground.jpg");
    font-family: "Merriweather", serif;
    color:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:600px;
   
}

.myContainer {
    background-color: rgba(255, 255, 255, 0.91);
    position: absolute;
    top: 33%;
    left:50%;
    transform: translate(-50%,-30%);
    width: 620px;
    height:550px;
    border-radius: 5%;
    position:absolute;
  }

  .myContainer1 {
    background-color: rgba(255, 255, 255, 0.91);
    position: absolute;
    top: 33%;
    left:50%;
    transform: translate(-50%,-30%);
    width: 620px;
    height:450px;
    border-radius: 5%;
    position:absolute;
  }

#signUp{
    margin-top: 2rem;
}


.inputFields{
    margin-top: 1rem;
    width: 500px;
    margin-left: 4rem;
}

.form-label{
    font-size: 15px;
}

#submitButton{

    background-color:black;
    color: #ffffffe8;
    border-color: #9659F2;
    border-width: 2px;
}

#submitButton:hover {
    background-image: linear-gradient(to right, #e002e3, #9659F2);
    color: #ffffff;
}

p{
    font-size: 10px;
}

#passwordForgot{
 margin-top:12px;
 font-size: 15px;

}

#boa{
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

#boa:hover {
    color:#FB00FF;
}