@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jacquarda+Bastarda+9&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Color+Emoji&family=Pacifico&family=Rampart+One&family=Rubik+Mono+One&family=Shadows+Into+Light&display=swap');

body{
    background-color: rgb(53, 50, 50);
    background-image: url("./media/images/geoBackground.jpg");
    font-family: "Merriweather", serif;
    color:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:600px;
   
}

.myContainer {
    background-color: hsla(0, 0%, 100%, 0.911);
    position: absolute;
    top: 33%;
    left:50%;
    transform: translate(-50%,-30%);
    width: 620px;
    height:500px;
    border-radius: 5%;
    position:absolute;
  }

#signUp{
    margin-top: 45px;
}


.inputFields{
    margin-top: 30px;
    width: 500px;
    margin-left: 9%;
}

#submitButton{
    background-color:black;
    color:antiquewhite;
    border-color: #9659F2;
}